{# ==================================================================== #}
{# :::                           ATENÇÃO!                           ::: #}
{# ==================================================================== #}
{#                                                                      #}
{# As dependências são gerenciadas automaticamente pelo flutter pub add #}
{#                                                                      #}
{#              Não adicione dependências manualmente aqui              #}
{#                                                                      #}
{# ____________________________________________________________________ #}
{# Para adicionar novas dependencias, use o DependencyManager!          #}
{# Caminho para o arquivo...............: ./utils/dependency_manager.py #}
{# ==================================================================== #}

name: {{ app_name }}
description: {{ app_description }}
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

flutter:
  uses-material-design: true
  generate: true
  # Assets do projeto
  assets:
    - assets/images/
    - assets/icons/
    {%- if sqlite_enabled %}
    - assets/db/
    {%- endif %}

  # Fontes customizadas (se necessário)
  # fonts:
  #   - family: CustomFont
  #     fonts:
  #       - asset: assets/fonts/CustomFont-Regular.ttf
  #       - asset: assets/fonts/CustomFont-Bold.ttf
  #         weight: 700


localization:
  arb-dir: lib/l10n
  template-arb-file: intl_en.arb
  output-localization-file: app_localizations.dart
  output-class: AppLocalizations

