  flutter_localizations:
      sdk: flutter

flutter:

  uses-material-design: true
  generate: true

  # Assets do projeto
  assets:
#    - assets/images/
#    - assets/icons/
    {%- if sqlite_enabled %}
    - assets/db/
    {%- endif %}