import '../../domain/entities/{{ module_name|lower }}_entity.dart';
import '../../domain/repositories/i_{{ module_name|lower }}_repository.dart';

/// Use case to create a new {{ pascal_case }}
class Create{{ pascal_case }}UseCase {
  final I{{ pascal_case }}Repository _repository;

  Create{{ pascal_case }}UseCase({required I{{ pascal_case }}Repository repository})
      : _repository = repository;

  /// Execute the use case
  Future<{{ pascal_case }}Entity> execute({{ pascal_case }}Entity entity) {
    return _repository.create(entity);
  }
}