{
  "@@locale": "en",
  "btnCancel": "Cancel",
  "create": "Create {name}",
  "@create": {
    "description": "Create a named entity",
    "placeholders": {
      "name": {
         "type": "Object"
      }
    }
  },
  "update": "Update",
  "edit": "Edit {name}",
  "@edit": {
    "description": "Edit a named entity",
    "placeholders": {
      "name": {
         "type": "Object"
      }
    }
  },
  "fieldRequired": "This field is required",
  "errorSaving": "Error saving",
  "createdSuccess": "{name} created successfully",
  "@createdSuccess": {
    "description": "Success message after creating an entity",
    "placeholders": {
      "name": {
         "type": "Object"
      }
    }
  },
  "updatedSuccess": "{name} updated successfully",
  "@updatedSuccess": {
    "description": "Success message after updating an entity",
    "placeholders": {
      "name": {
         "type": "Object"
      }
    }
  },
  "titleLabel": "Title",
  "titleHint": "Enter the title",
  "btnSave": "Save",
  "errorGeneric": "Something went wrong.",
  "formRequiredField": "This field is required.",
  "appTitle": "{{ app_name }}"
}
