{
  "@@locale": "pt",
  "btnCancel": "Cancelar",
  "create": "Criar {name}",
  "@create": {
    "description": "Texto para criar uma entidade com nome.",
    "placeholders": {
      "name": {
         "type": "Object"
      }
    }
  },
  "update": "Atualizar",
  "edit": "Editar {name}",
  "@edit": {
    "description": "Texto para editar uma entidade com nome.",
    "placeholders": {
      "name": {
         "type": "Object"
      }
    }
  },
  "fieldRequired": "Este campo é obrigatório",
  "errorSaving": "Erro ao salvar",
  "createdSuccess": "{name} criado com sucesso",
  "@createdSuccess": {
    "description": "Mensagem de sucesso ao criar algo.",
    "placeholders": {
      "name": {
         "type": "Object"
      }
    }
  },
  "updatedSuccess": "{name} atualizado com sucesso",
  "@updatedSuccess": {
    "description": "Mensagem de sucesso ao atualizar algo.",
    "placeholders": {
      "name": {
         "type": "Object"
      }
    }
  },
  "titleLabel": "Título",
  "titleHint": "Digite o título",
  "btnSave": "Salvar",
  "errorGeneric": "Algo deu errado.",
  "formRequiredField": "Este campo é obrigatório",
  "appTitle": "{{ app_name }}"
}
